
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
canvas{
    box-shadow: 10px 10px 10px lightcoral;
    border-radius: 20px;
}